.nav {
  display: flex;
  margin: 20px;
}

.link {
  margin: 10px 15px;
}
body {
  background-color: black;
}
.active {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

/* endpoint */
/* netflix originals */
/* https://api.themoviedb.org/3/discover/tv?api_key=###&with_networks=213
 */
/* romantic */
/* action */
.colo {
  color: white;
}
.allImages {
  display: flex;
  overflow-x: scroll;
}

.allImages::-webkit-scrollbar {
  display: none;
}
.imagesgap {
  margin: 10px;
}
.img:hover {
  transform: 1.1, 1.1;
  transition-property: transform;
  transition-duration: 1s;
}
.ytcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
